<div class="shopping-cart">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
      <%= render "shopping_cart" %>
    </div>
  </div>
</div>
