/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.product-image{
  width:150px;
  height: 150px;
  border-radius: 100%;
}

.product-box{
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #e6ffff;
}

.product-name{
  text-align: center;
}

.product-detail{
  text-align: center;
}

.new_order_item {
  padding-bottom: 10px;
}

.delete-button {
  padding-top: 10px;
  text-align: center;
}

.update-button {
  padding-top: 10px;
  text-align: center;
}
